<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>註冊頁面</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- "fas fa-search" icon  https://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/jquery-3.3.1.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body>
<div class="container" style="max-width: 600px;margin-top:50px">
    <div class="card card-body bg-light">

     <form id="registerForm">
        <div id="feedback"></div>
            <div class="form-group">
                <label for="usernameId">帳號名稱</label>
                <input type="text" class="form-control" name="username" id="usernameId" placeholder="Enter Username">
            </div>

            <div class="form-group">
                <label for="emailId">信箱</label>
                <i class="far fa-question-circle" data-toggle="popover" title="123@mail.com"></i>
                <input type="text" class="form-control" name="email" id="emailId" placeholder="Enter Email">

            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="passwordId">設定密碼</label>
                    <i class="far fa-question-circle" data-toggle="popover" title="至少6位，Need 6 key"></i>
                    <input type="password" class="form-control" name="password" id="passwordId" placeholder="Enter Password">
                </div>
                <div class="form-group col-md-6">
                    <label for="repasswordId">驗證密碼</label>
                    <input type="password" class="form-control" name="repassword" id="repasswordId" placeholder="Again Password">
                </div>
            </div>

            <div class="form-group">
                <label for="phoneId">手機號碼</label>
                <i class="far fa-question-circle" data-toggle="popover" title="09xxxxxxxx無須加入-"></i>
                <input type="text" class="form-control" name="phone" id="phoneId" placeholder="mobile Phone">
            </div>

            <button id="goregister" type="submit" class="btn btn-primary" name="submit">註冊</button>
    </form>

    </div>
</div>


<script>

    $("#registerForm").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/result/rt",
            type:"POST",
            data: {
                username: $("#usernameId").val(),
                email: $("#emailId").val(),
                password: $("#passwordId").val(),
                repassword: $("#repasswordId").val(),
                phone: $("#phoneId").val()
            },
            contentType:"application/json; charset=utf-8",
            success: function (data) {

                var json = "<h4>Ajax Response</h4><pre>"
                    + JSON.stringify(data, null, 4) + "</pre>";
                $('#feedback').html(json);

                console.log("SUCCESS : ", data);
                $("#btn-search").prop("disabled", false);

            }
        })

    });
</script>

</body>
</html>