<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>開課管理</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.css">

    <link rel="stylesheet" type="text/css" href="/css/topnav.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/jquery-3.3.1.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<!--導航列-->

<div class="sticky-top">
    <div class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">

            <a href="/"><img class="card-img-bot" style="height:4rem;" src="/img/moocs.jpg"></a>
            <div class="search-line">
                <div> <input type="text" name="searchkey" placeholder="輸入課程"></div>
            </div>

            <div id="welcome1" >歡迎訪客</div>
            <div id="welcome2" style="display:none">歡迎,<span id="userusername"></span></div>

            <ul class="topnav" id="myTopnav">
                <li><a id="ucantseeme" style="visibility:hidden">導覽</a></li>
                <li><a id="welcome1-1" href="/login">登入</a></li>
                <li><a id="welcome1-2" href="/re">註冊</a></li>
                <li><a id="logout" style="display:none">登出</a></li>
                <li class="icon">
                    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<script>
    $("#logout").click(function () {
        $.ajax({
            url: 'result/logout',
            type: 'POST',
            data: JSON.stringify,
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                if (data === "logoutfinish") {
                    alert("登出成功");
                    location.href = '/';
                }
            },
            error: function () {
                alert('服務器目前異常');
            }
        })
    });
</script>
<script th:inline="javascript">

    user = [[${session.user}]];
    //console.log(user);

    if(user==null)
    {
        $('#welcome1').show();
        $('#welcome1-1').show();
        $('#welcome1-2').show();
        $('#welcome2').hide();
        $('#logout').hide();
    }else
    {
        $('#welcome1').hide();
        $('#welcome1-1').hide();
        $('#welcome1-2').hide();
        $('#welcome2').show();
        $('#logout').show();

        $('#userusername').text(user.username);
    }
</script>


    <div class="container" style="max-width: 700px;">
        <div>
            <p class="text-right"><a href="/lessonlist" type="sumbit" class="btn btn-primary">返回</a></p>
        </div>


        <h2 class="pb-2 mt-4 mb-2 border-bottom">新課程細節</h2>
        <div class="card card-body bg-light">
            <form action="/lessonlist" th:object="${lesson}" method="post">
                <input type="hidden" th:value="*{id}" name="id">
                <div class="form-group">
                    <label for="lessonnameId">課程名稱</label>
                    <input type="text" name="lessonname" id="lessonnameId" class="form-control" th:field="*{lessonname}">
                </div>
                <div class="form-group">
                    <label for="teacherId">開課老師</label>
                    <input type="text" name="teacher" id="teacherId" class="form-control" th:field="*{teacher}">
                </div>
                <div class="form-group">
                    <label for="sortId">課程類別</label>
                    <input type="text" name="sort" id="sortId" class="form-control" th:field="*{sort}">
                </div>
                <div class="form-group">
                    <label for="opendateId">開課日期</label>
                    <input type="date" name="opendate" id="opendateId" class="form-control" th:field="*{opendate}">
                </div>
                <div class="form-group">
                    <label for="closedateId">結束日期</label>
                    <input type="date" name="closedate" id="closedateId" class="form-control" th:field="*{closedate}">
                </div>

                <div class="form-group">
                    <label for="statusId">設置狀態</label>
                    <select name="status" id="statusId" class="form-control">
                        <option value="0" th:selected="(*{status} == '0')">尚未開課</option>
                        <option value="1" th:selected="(*{status} == '1')">開課中</option>
                        <option value="2" th:selected="(*{status} == '2')">已開課完畢</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="introId">簡短介紹</label>
                    <input type="text" name="intro" id="introId" class="form-control" th:field="*{intro}">
                </div>
                <div class="form-group">
                    <label for="intro2Id">詳細介紹</label>
                    <input type="text" name="intro2" id="intro2Id" class="form-control" th:field="*{intro2}">
                </div>
                <p>上傳圖片</p>
                <p>上傳講義</p>

                <p class="text-center">
                    <button type="sumbit" class="btn btn-primary">送出</button>
                </p>
            </form>

        </div>
    </div>

</body>
</html>